@use "../variables";
@use "../utilities";

.main-navigation {
  position: sticky;
  top: 0;
  z-index: var(--z-nav);
  margin-bottom: var(--gap-large);
  background-color: var(--color-surface-1);
  border-bottom: 1px solid var(--color-border);

  .navigation {
    max-width: var(--container-max-nav);
    margin: 0 auto;
    padding: .8rem 1rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: var(--gap-medium);
    align-items: center;
  }

  .blog-name {
    font-weight: 600;
    letter-spacing: .2px;
    white-space: nowrap;
  }

  .menu-items {
    @include utilities.reset-list;
    display: flex;
    gap: calc(var(--gap-medium)*0.9);
    margin-inline-end: var(--gap-medium);
    align-items: center;

    a {
      display: inline-flex;
      align-items: center;
      gap: var(--gap-small);
      padding: .4rem .6rem;
      border-radius: var(--radius-sm);
      color: var(--color-text);
      text-decoration: none;
      transition: background .2s ease, color .2s ease;

      &.active {
        background: var(--color-bg-active);
      }

      &:hover {
        background: var(--color-bg-highlight);
      }
    }
  }

  .menu-container {
    display: flex;
    align-items: center;
    gap: var(--gap-medium);
  }
}

@include utilities.respond(medium) {

  .main-navigation .navigation {

    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    flex-basis: 100%;

    .menu-items {
      gap: 0;
    }
  }
}

@include utilities.respond(small) {
  .menu-container {
    flex-direction: column;
  }

  // On mobile main nav will not be sticky
  .main-navigation {
    position: relative;
  }
}