{% if not isLocalDevelopment and isPreview %}
<!-- Plausible Analytics -->
<script async src="https://plausible.io/js/pa-8BjKElQFX2XyqZAcaSGoy.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>

{% endif %}
