{% if not isLocalDevelopment %}
<!-- Plausible Analytics -->

{% if isPreview %}
  <!-- Preview -->
  <script async src="{{ site.plausible.previewScriptUrl }}"></script>
{% else %}
  <!-- Production -->
  <script async src="{{ site.plausible.scriptUrl }}"></script>
{% endif %}

<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>

{% endif %}
