<section id="comments">
  <!-- TODO consider having comments heading-->
  <div id="disqus_thread" class="giscus"></div>

  <script src="https://giscus.app/client.js"
          data-repo="{{ site.giscus.repo }}"
          data-repo-id="{{ site.giscus.repoId }}"
          data-category="{{ site.giscus.category }}"
          data-category-id="{{ site.giscus.categoryId }}"
          data-mapping="pathname"
          data-strict="1"
          data-reactions-enabled="0"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="{{ site.giscus.theme }}"
          data-lang="{{ site.lang }}"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>

  <noscript>
    Please enable JavaScript to view the comments.
  </noscript>

</section>