.post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-header-featured-image {
  width: 100%;
}

.main {
  max-width: 70ch;
  margin: 0 auto;
}

