@use "variables";

@media print {
  // This will print link target url after each anchor tag
  #post p a:after {
    content: " (" attr(href) ") ";
    font-size: 80%;
  }

  img,
  pre {
    break-inside: avoid-page;
  }

  h1,
  h2,
  h3,
  h4 {
    break-after: avoid-page;
  }

  .footer, .post-header-featured-image {
    display: none;
  }
  //  TODO HIDE ELEMENTS NOT SUITABLE FOR PRINT
}
