<item>
    <title>Exam Notes - Pivotal Certified Spring Web Application Developer</title>
    <link>http://vojtechruzicka.com/pivotal-certified-spring-web-application-developer-notes/</link>
    <pubDate>Mon, 22 Aug 2016 20:52:20 +0000</pubDate>
    <dc:creator><![CDATA[vojtechruzicka]]></dc:creator>
    <guid isPermaLink="false">http://vojtechruzicka.com/?p=499</guid>
    <description></description>
    <content:encoded><![CDATA[<p style="text-align: justify;"><img class="alignleft wp-image-493 " src="http://vojtechruzicka.com/wp-content/uploads/2016/06/certified.jpg" alt="certified blue grunge round vintage rubber stamp" width="178" height="150" />Study materials and an exam review for Pivotal Certified Spring Web Application Developer Exam 4.2, with flash-cards and study notes.</p>
&nbsp;

&nbsp;

<!--more-->
<h2><strong>Certification voucher</strong></h2>
<p style="text-align: justify;"><strong>UPDATE:</strong> Certification can now be purchased separately for $200, <a href="https://spring.io/blog/2017/05/10/pivotal-announces-spring-curriculum-certification-changes">you no longer need</a> to purchase the 4 days training to receive the voucher. However, if you do so, you will still receive the free voucher. The voucher expiration period is no longer specifically stated in the study guide, but you should receive expiration date with your order.</p>
<p style="text-align: justify; text-decoration: line-through;">After finishing the official Spring Web Training, you receive a voucher for the certification exam. This voucher is free and cannot be obtained without the training. If you fail the exam, another voucher can be bought for $ 150 and the exam can be taken after at least six weeks.</p>
<p style="text-align: justify; text-decoration: line-through;">Beware, that in the previous versions of the exam, the certification voucher was valid for 12 months after the training. Official study guide (see below) also states 12 months. However, this was changed and the voucher now expires after only 3 months. However, I still recommend taking the exam not too long after the training, so the memory is still fresh.</p>

<h2>The Exam</h2>
<ul>
 	<li style="text-align: justify;">The exam consists of 50 multiple choice questions (usually single correct answer, rarely multiple), where 38 (76%) must be answered correctly to pass.</li>
 	<li style="text-align: justify;">It is computer based and the interface is easy to understand and navigate.</li>
 	<li style="text-align: justify;">It can be taken in a <a href="http://home.pearsonvue.com/test-taker.aspx">Pearson Vue certified test center</a>.</li>
 	<li><strong>UPDATE:</strong> The exam can now be taken also remotely using <a href="https://www.examslocal.com">https://www.examslocal.com</a>, for more info see the <a href="http://it.psionline.com/exam-faqs/pivotal-faq">FAQ</a>.</li>
 	<li style="text-align: justify;">There are 90 minutes to complete the test, which is more than enough - it can safely be completed in half the time even with reviewing the questions again.</li>
 	<li style="text-align: justify;">There are only topics covered by the training.</li>
 	<li style="text-align: justify;">I was required to provide two identity documents (eg. ID card and driving license).</li>
 	<li style="text-align: justify;">There were no personal items whatsoever allowed in the exam room and the room was under video surveillance. You'll be provided with a marker and an erasable board for your notes.</li>
 	<li style="text-align: justify;">You are not required to write any code.</li>
 	<li style="text-align: justify;">Advanced topics covered after a LAB slide in each block are not part of the exam.</li>
 	<li style="text-align: justify;">(Note that all the info above is public and can be found in the official study guide or other sources and does not violate the exam NDA)</li>
</ul>
<p style="text-align: justify;">Overall the exam was not too hard and you should be able to complete it if you pay attention during the training, do the lab exercises and study the slides. The good news is it is not about memorizing API, but more about understanding the concepts. In that sense, the questions are very well designed. Much better than the Oracle Java Exams, where it is often very important to study not only the topics, but also the actual question types and watch out for tricky questions. There were no tricky questions in the Spring exam.</p>

<h2>Resources</h2>
<h3>Study Guide</h3>
There is an official <a href="https://d1fto35gcfffzn.cloudfront.net/academy/Core-Spring-4.2-4.3-Certification-Study-Guide.pdf">Spring_Web_4.2/4.3_Study_Guide</a>, which describes the certification process and some FAQs. What's more important, there is a list of areas and topics covered in the exam. That is valuable as a checklist whether you are ready for the exam and also a guide to determine what to focus on when studying.
<h3>Notes</h3>
<p style="text-align: justify;"><a href="https://github.com/vojtechruz/spring-web-cert-notes-4.2">Here</a> are available my personal study notes. They cover all the topics required to know for the certification. As they are available on GitHub, feel free to add more info or correct anything and create a pull request. Note that code listings provided are usually more for illustration purposes and do not need to be memorized. During the exam, you are not required to write code snippets or exactly know all the API and details.</p>

<h3>Flashcards</h3>
<p style="text-align: justify;">I have created set of flashcards using <a href="http://ankisrs.net/">Anki software</a>. The contents are basically derived from my study notes. Anki provides desktop client as well as mobile applications to study on the go.</p>
<p style="text-align: justify;">The deck contains 200 questions and can be downloaded <a href="https://github.com/vojtechruz/spring-web-cert-notes-4.2/raw/master/Spring%20Web%20Certification.apkg">here</a>.</p>
<p style="text-align: justify;">The downloaded deck file can be imported in Anki using File → Import.</p>

<h3><span style="line-height: 1.5;">Book</span></h3>
<p style="text-align: justify;">If you have some extra time, there is a good book covering the certification exam - <a href="http://www.apress.com/9781484208090">Pivotal Certified Spring Web Application Developer Exam: A Study Guide</a> by <a href="http://iuliana-cosmina.com/">Iuliana Cosmina</a>. It is definitely worth reading. But be aware, that the book is for 4.0 version of the exam, but the current latest version of the training and the exams is 4.2. Topics covered by the book no longer fully match the exam. For example, one of the major chapters of the book - Spring Web Flow (110 pages) is no longer part of the exam.</p>

<h2>Spring Core Exam</h2>
In addition to this Spring Web certification, I have also prepared materials for the <a href="http://vojtechruzicka.com/exam-notes-pivotal-certified-spring-professional/">Spring Core exam</a>. This exam can be now also taken without the training just for $200.
<h2>Conclusion</h2>
<p style="text-align: justify;">The exam is not too hard and with a proper preparation, you should be able to pass it without problems. I highly recommend doing all the lab exercises. If you have extra time, it is useful to read the certification book, but it is not necessary. After reading the official slides, I recommend to continue with my study notes and flash-cards as they contain the same information, but only in a more condensed form, which is better if you already have a grasp of the basics.</p>]]></content:encoded>
    <excerpt:encoded><![CDATA[]]></excerpt:encoded>
    <wp:post_id>499</wp:post_id>
    <wp:post_date><![CDATA[2016-08-22 22:52:20]]></wp:post_date>
    <wp:post_date_gmt><![CDATA[2016-08-22 20:52:20]]></wp:post_date_gmt>
    <wp:comment_status><![CDATA[open]]></wp:comment_status>
    <wp:ping_status><![CDATA[open]]></wp:ping_status>
    <wp:post_name><![CDATA[pivotal-certified-spring-web-application-developer-notes]]></wp:post_name>
    <wp:status><![CDATA[publish]]></wp:status>
    <wp:post_parent>0</wp:post_parent>
    <wp:menu_order>0</wp:menu_order>
    <wp:post_type><![CDATA[post]]></wp:post_type>
    <wp:post_password><![CDATA[]]></wp:post_password>
    <wp:is_sticky>0</wp:is_sticky>
    <category domain="post_tag" nicename="certification"><![CDATA[certification]]></category>
    <category domain="category" nicename="spring"><![CDATA[Spring]]></category>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_edit_last]]></wp:meta_key>
        <wp:meta_value><![CDATA[1]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_thumbnail_id]]></wp:meta_key>
        <wp:meta_value><![CDATA[493]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_content_score]]></wp:meta_key>
        <wp:meta_value><![CDATA[90]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_primary_category]]></wp:meta_key>
        <wp:meta_value><![CDATA[6]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_focuskw_text_input]]></wp:meta_key>
        <wp:meta_value><![CDATA[spring]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_focuskw]]></wp:meta_key>
        <wp:meta_value><![CDATA[spring]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_title]]></wp:meta_key>
        <wp:meta_value><![CDATA[Exam Notes - Pivotal Certified Spring Web Application Developer]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_linkdex]]></wp:meta_key>
        <wp:meta_value><![CDATA[87]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_metadesc]]></wp:meta_key>
        <wp:meta_value><![CDATA[Study materials and an exam review for Pivotal Certified Spring Web Application Developer Exam 4.2, including flash-cards and study notes.]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_jetpack_related_posts_cache]]></wp:meta_key>
        <wp:meta_value><![CDATA[a:1:{s:32:"8f6677c9d6b0f903e98ad32ec61f8deb";a:2:{s:7:"expires";i:1517949984;s:7:"payload";a:3:{i:0;a:1:{s:2:"id";i:553;}i:1;a:1:{s:2:"id";i:1095;}i:2;a:1:{s:2:"id";i:1466;}}}}]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_wpas_done_all]]></wp:meta_key>
        <wp:meta_value><![CDATA[1]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_jetpack_dont_email_post_to_subs]]></wp:meta_key>
        <wp:meta_value><![CDATA[1]]></wp:meta_value>
    </wp:postmeta>
    <wp:comment>
        <wp:comment_id>44</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[155.91.64.11]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-22 09:20:02]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-22 08:20:02]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[https://academy.pivotal.io/confirm-course?courseid=EDU-1120 Here you can add "Spring Web Application Developer Exam" to you cart and purchase.]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>43</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1490170802.0701010227203369140625;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[jetpack]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[https://s2.wp.com/wp-content/mu-plugins/highlander-comments/images/wplogo.png]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[1]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>14</wp:comment_id>
        <wp:comment_author><![CDATA[Michał Kowalczyk (@KainBlog)]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[KainBlog@twitter.example.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://twitter.com/KainBlog</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[80.69.142.132]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2016-09-08 10:07:22]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2016-09-08 08:07:22]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Excellent job with the Anki deck, thank you for this. I am just about to get the Spring Enterprise Integration Specialist exam, so maybe I will be able to prepare something similar.]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1473322042.6763210296630859375;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[363595152]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1473328622.4590280055999755859375;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[http://abs.twimg.com/sticky/default_profile_images/default_profile_4_normal.png]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[twitter]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>15</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[155.91.28.231]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2016-09-09 13:01:02]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2016-09-09 11:01:02]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Thanks, I'm glad it was helpful. It would be great if you prepared something similar. If you do, please send me a link.]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>14</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1473418862.7533071041107177734375;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[jetpack]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[https://s2.wp.com/wp-content/mu-plugins/highlander-comments/images/wplogo.png]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[1]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>43</wp:comment_id>
        <wp:comment_author><![CDATA[Bhavesh]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[bhavesh.yadav77@outlook.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[49.44.51.249]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-22 09:09:54]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-22 08:09:54]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[How can we get the promo code or voucher(as it is compulsory to submit this details for further payment), please guide regarding this.]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>41</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1490170194.30722904205322265625;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>42</wp:comment_id>
        <wp:comment_author><![CDATA[Bhavesh]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[bhavesh.yadav77@outlook.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[49.44.51.53]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-14 14:17:26]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-14 13:17:26]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Thanks for the Information :)]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1489499751.569571018218994140625;s:5:"event";s:17:"status-unapproved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1489499756.158979892730712890625;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1489499759.00434589385986328125;s:5:"event";s:17:"status-unapproved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1489499828.5746719837188720703125;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1489497446.968769073486328125;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>41</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[155.91.64.11]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-14 10:35:07]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-14 09:35:07]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[It used to be, you had to attend the training to get a certificate voucher. The have recently changed that and from now on you can purchase the certificate separately: https://pivotal.io/training/certification]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>40</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[jetpack]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[https://s2.wp.com/wp-content/mu-plugins/highlander-comments/images/wplogo.png]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[1]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1489484107.3052051067352294921875;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>46</wp:comment_id>
        <wp:comment_author><![CDATA[bhavesh]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[bhavesh.yadav77@outlook.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[182.58.121.16]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-28 14:24:37]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-28 12:24:37]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[If I failed the exam, so within how many days I can again give the exam]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>44</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1490703877.248280048370361328125;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>47</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[155.91.28.234]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-28 14:58:14]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-28 12:58:14]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[The exam can be taken after six weeks, it is right in the first paragraph :)]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>44</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[jetpack]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[1]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1490705894.1488220691680908203125;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[https://s2.wp.com/wp-content/mu-plugins/highlander-comments/images/wplogo.png]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>40</wp:comment_id>
        <wp:comment_author><![CDATA[Bhavesh]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[bhavesh.yadav77@outlook.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[49.44.51.53]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-14 07:52:58]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-14 06:52:58]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Is it necessary to attain the training for getting certified for the spring web application exam]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1489474379.029117107391357421875;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1489483985.56112003326416015625;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>34</wp:comment_id>
        <wp:comment_author><![CDATA[Patrik Mihalčin]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[mihalcin.patrik@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>https://plus.google.com/+PatrikMihalčin</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[194.228.254.118]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-06 10:28:10]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-06 09:28:10]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hi Vojtech, where did you attend Spring Web Training? Which provider is it? Thanks]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1488792490.74298000335693359375;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1488794296.66075897216796875;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>35</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[155.91.64.15]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-03-06 11:01:25]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-03-06 10:01:25]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hi Patrik, Yes I did attend the training. It was the official Spring Web Training by Pivotal, the company behind the Spring Framework. Online version as a videoconference through webex.  https://pivotal.io/training/courses/spring-web-training. They have changed the policy and now you can purchase the exam separately for $ 200 - https://pivotal.io/training/certification.

]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>34</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[jetpack]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[https://s2.wp.com/wp-content/mu-plugins/highlander-comments/images/wplogo.png]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[1]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1488794486.1878840923309326171875;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>151</wp:comment_id>
        <wp:comment_author><![CDATA[john cruz]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[kcasey200kc@hotmail.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[182.55.203.79]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-07-17 15:52:13]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-07-17 13:52:13]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[There are practice tests at http://itestjava.com]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1500299533.6221830844879150390625;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1500375298.757194995880126953125;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>140</wp:comment_id>
        <wp:comment_author><![CDATA[Sayali Shinde]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[prateek.ashtikar512@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://gravatar.com/springlearner</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[49.205.91.174]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-07-03 15:32:14]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-07-03 13:32:14]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hey Vojtech Ruzicka,

Thank you for the info. Now taking the Spring Certification is not mandatory at all and you can take the exam without training as well.

Thanks for suggesting a study guide. Could you also please suggest if there are any mock exams or web simulator over which we can practice ?

Regards,
Sayali]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1499160432.4633190631866455078125;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1499088734.4623870849609375;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>141</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[155.91.64.15]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-07-04 11:29:09]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-07-04 09:29:09]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hi,
thanks for the info, I will update the article. Regarding the mock exams - there are no official ones. I did not look for any other so I cannot help with this.]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>140</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1499160549.2449300289154052734375;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>215</wp:comment_id>
        <wp:comment_author><![CDATA[nullptr00]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[pablotr87@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[78.30.15.93]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-11-01 12:34:32]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-11-01 11:34:32]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[<p>I have a mock exam if anyone is interested.</p>
]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1509536072.296794891357421875;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1509541580.1735579967498779296875;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>238</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[217.66.178.112]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-12-25 08:48:12]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-12-25 07:48:12]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[I think there was nothing or very little about Thymeleaf. Certainly not any syntax or details.]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>237</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1514188092.045178890228271484375;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>239</wp:comment_id>
        <wp:comment_author><![CDATA[Vinay]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vinaymp80@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[223.237.31.194]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-12-26 13:50:38]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-12-26 12:50:38]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[<p>Thanks Vojtech!<br />
Regards,<br />
Parag.</p>
]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>238</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1514293062.324614048004150390625;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1514293058.3949000835418701171875;s:5:"event";s:17:"status-unapproved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1514292637.6556110382080078125;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>237</wp:comment_id>
        <wp:comment_author><![CDATA[Vinay]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vinaymp80@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[183.82.102.4]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-12-25 07:57:21]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-12-25 06:57:21]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hi Vojtech,
  Thanks again for your inputs. Similarly, it's unclear from the course contents whether the exam may center more around Thymeleaf or JSP knowledge is good enough.
Regards,
Parag]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>236</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1514185041.5139598846435546875;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>235</wp:comment_id>
        <wp:comment_author><![CDATA[Vinay]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vinaymp80@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[223.237.15.244]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-12-20 05:30:21]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-12-20 04:30:21]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hi Vojtech,
  Thanks for the useful info. In the Spring Web Application Developer Exam, are there also questions around XML configuration, or knowing JavaConfig is sufficient.
Regards,
Vinay]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1513843589.8643701076507568359375;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1513744221.1372020244598388671875;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>236</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[213.220.217.109]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-12-21 09:14:11]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-12-21 08:14:11]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hi Vinay,
I do not remember the questions, so take it with a grain of salt, but I think there is more about java config than xml. But it is better to know both - better safe than sorry :)]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>235</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1513844051.571919918060302734375;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[1]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[https://s2.wp.com/wp-content/mu-plugins/highlander-comments/images/wplogo.png]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[jetpack]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
</item>