@import "syntax-highlighting";
@import "~docsearch.js/dist/npm/styles/main";

$link_color: #007acc;
$border-color: hsla(0, 0%, 0%, 0.1);
a {
  color: $link_color;
}

a:hover {
  color: lighten($link_color,7%);
  svg {
    fill: lighten($link_color,7%);
  }
}

.post-tags {
  list-style: none;
  display: inline;
  font-weight: 500;

  ul {
    margin-left: 0;
    display: inline;

    li {
      display: inline;
      margin-left: 0.5rem;
    }
  }

  margin-bottom: 1rem;
}

.tag-links {
  li {
    display: inline;
    margin-right: 0.65rem;
  }

  margin-bottom: 1.1rem;
  margin-left: 0;
  padding-left: 0;
}

.tag-count {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}

.about-page {
  ul {
    list-style: none;
    li {
      margin-bottom: 0.25rem;
    }
  }
}

.about-icon {
  height: 1rem;
  display: inline;
  margin-right: 0.25rem;
  margin-bottom: 0;
  fill: $link_color;
}

.front-post-title {
  margin-top: 1rem;
}

.front-post-image {
  width: 33%;
  display: inline-block;
}

.front-post-excerpt {
  display: inline-block;
  width: 66%;
  vertical-align: top;
  padding-left: 1.25rem;
}

.front-post-info {
  display: block;
  margin-bottom: 1rem;

  .front-post-info-date {
    margin-right: 1rem;
  }
}

.front-post-separator {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: $border-color;
}

.SocialMediaShareButton, .SocialMediaShareButton div {
  display: inline-block;
}

.SocialMediaShareButton {
  margin: 0.25rem;
  cursor: pointer;
}
.share-icons {
  display: flex;
  justify-content: center;
}

.menu-items {

  margin-top: 2px;

  a {
    margin-right: 1rem;
    text-decoration: none!important;
    font-weight: 500;
    color: hsla(204,12.449720506%,0%,0.77)!important;
  }
}

.blog-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 500;

  a {
    text-decoration: none!important;
    color: hsla(204,12.449720506%,0%,0.77)!important;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 2.1rem;
  border-bottom: 1px solid hsla(0, 0% ,0%, 0.3);;
  padding-bottom: 0.5rem;

  hr {
    margin-bottom: 0;
  }

  .logo {
    img {
      border-radius: 50px;
    }
    margin-right: 1rem;
    margin-bottom: 0;
    height: 4rem;
    width: 4rem;
  }

  a:hover {
    color: lighten($link_color,7%)!important;
  }
}

.featured-image {
  margin-bottom: 1.25rem;
}

.follow-me {
  margin-top: 3rem;
  display: flex;
  justify-content: center;

  .follow-me-icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;

    &:hover.twitter svg {
      fill: #00aced;
    }

    &:hover.feedly svg {
      fill: #6CC655;

      .inner {
        fill: #fff;
      }
    }

    &:hover.linkedin svg {
      fill: #007fb1;
    }

    &:hover.rss svg {
      fill: #f26522;
    }

    &:hover.facebook svg {
      fill: #3b5998;
    }

    &:hover.github svg {
      fill: #333;
    }


    svg {
      height: 2rem;
      width: 2rem;
      fill: lighten(hsla(204,12.449720506%,0%,0.77), 10%);
    }
  }
}

li {
  margin-bottom: 0.3rem;
}

.pagination  {
  display: flex;
  justify-content: center;

  a {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }

  .current-page {
    font-weight: 500
  }

}

@media only screen and (max-width: 40em) {
  .logo {
    height: inherit;
  }
}

body {
  background-color: hsla(0, 0% ,0%, 0.04);
  // https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor
  overflow-anchor: auto;
}

.content-root {
  background-color: #fff;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  margin-left: auto;
  margin-right: auto;
}

.linked-article {
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 1rem;
  background-color: hsla(0, 0% ,0%, 0.01);
  border:1px solid $border-color;
}

.search-box {
  border: 1px solid hsla(0, 0% ,0%, 0.01);
  color: hsla(0, 0% ,0%, 0.85);
  padding: 0 0 0 3px;
  // Mobile Safari shows inner shadow in the field
  -webkit-appearance: none;
}

.search-box:focus {
  color:hsla(0, 0% ,0%, 0.95);
  background-color: $border-color;
  outline: none;
}

.search-icon {
  display: inline-block;
  height: 1.3rem;
  color: hsla(0, 0% ,0%, 0.2);
  vertical-align: middle;
  cursor: pointer;
}

.search-box-container {
  white-space: nowrap;
}

.date-published {
  font-weight: 500;
}

.gatsby-highlight pre {
  margin-bottom: 1.8rem;
  margin-top: 2.2em;
}

table {
  margin-bottom: 2.5rem;
}

kbd {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}

.msg-info {
  color: #00529B;
  background-color: #BDE5F8;
  border: 1px darken(#BDE5F8, 1%) solid;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.msg-warn {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 1px darken(#FEEFB3, 1%) solid;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.toc {

  background-color: #fff;
  border: 1px solid $border-color;
  font-size: 0.8rem;
  padding: 0.35rem 0.85rem 0.85rem;
  margin-bottom: 1rem;

  h4 {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $border-color;
  }

  ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .toc-list>ul {
    margin-left: 0;
  }
}