{% extends "layouts/base.njk" %}

{% block head %}
{% set kind = "website" %}
{% include "components/social-metatags.njk" %}
  {% include "components/jsonld.njk" %}
{% endblock %}


{% block content %}
  <main id="content" class="page content">
    <header>
      <h1>{{ title }}</h1>
    </header>
    {% block pageContent %}
      {{ content | safe }}
    {% endblock %}
  </main>
{% endblock %}