{% extends "layouts/base.njk" %}

{% block head %}
  {% if pagination %}
    {% if pagination.href.previous %}
      <link rel="prev" href="{{ pagination.href.previous }}">
    {% endif %}
    {% if pagination.href.next %}
      <link rel="next" href="{{ pagination.href.next }}">
    {% endif %}
  {% endif %}
{% endblock %}
{% block content %}
  <main  id="content" class="page content">
    {% include "components/breadcrumbs.njk" %}
    {% block postList %}
      {{ content | safe }}
    {% endblock %}

  </main>
{% endblock %}