{% extends "layouts/base.njk" %}

{# // TODO input parameter can now be taken from variable used in jsonld page type and then since there is no input both following can be put to base layout #}
{% block head %}
  {% if pagination %}
    {% if pagination.href.previous %}
      <link rel="prev" href="{{ pagination.href.previous }}">
    {% endif %}
    {% if pagination.href.next %}
      <link rel="next" href="{{ pagination.href.next }}">
    {% endif %}
  {% endif %}

  {% set kind = "website" %}
  {% include "components/social-metatags.njk" %}
  {% include "components/jsonld.njk" %}
{% endblock %}
{% block content %}
  <main  id="content" class="page content">

    {% block postList %}
      {{ content | safe }}
    {% endblock %}

  </main>
{% endblock %}