@use "../variables";

$toc-indent-step: 1.25rem;
$toc-border-color: #ddd;
$toc-font-size: 0.95rem;

// Series TOC ----------------------------------------------------------------------------------------------------------

.series-toc {
  margin-bottom: 1.5rem;
  font-size: $toc-font-size;

  h4 {
    margin-top: 0;
  }

  ol {
    padding-left: 1.25rem;
  }

  .series-current {
    font-weight: 600;
  }
}

// TOC -----------------------------------------------------------------------------------------------------------------

.toc {
  margin-top: 1.5rem;
  background: var(--color-surface-1);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: 0 var(--gap-medium) var(--gap-medium);
  position: sticky;
  top: 6rem;
  font-size: $toc-font-size;
  line-height: 1.4;

  .toc-heading {
    font-weight: 600;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: var(--gap-small) 0;
    }

    // second level and deeper
    ol {
      margin-top: 0.25em;
      margin-left: $toc-indent-step;
      border-left: 1px solid $toc-border-color;
      padding-left: 0.75em;

      // third level
      ol {
        margin-left: $toc-indent-step * 1.5;

        // fourth level
        ol {
          margin-left: $toc-indent-step * 2;
        }
      }
    }
  }
}

.toc-list {
  li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: block;
  }
}


//TODO this adds hierarchical numbering like 1, 1.1 - maybe use it conditionally only for more complex posts?
//
//.toc {
//  ol {
//    counter-reset: item;
//    list-style: none; /* remove default numbering */
//    padding-left: 1.5em;
//  }
//
//  li {
//    display: block;
//    position: relative;
//  }
//
//  li::before {
//    content: counters(item, ".") " ";
//    counter-increment: item;
//    position: absolute;
//    left: -1.5em;
//    color: #555;
//    font-weight: 500;
//  }
//}