---
title: "Page Not Found"
permalink: /404.html
eleventyExcludeFromCollections: true
---
{% extends "layouts/page.njk" %}

{% block head %}
{{ super() }}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block pageContent %}

<div class="error-404">
  <p class="error-404-code" aria-hidden="true">404</p>
  <p class="error-404-message">This page doesn’t exist. <a href="/">Go to homepage</a>,
    try searching or explore topics.</p>
</div>

<h4 class="section-404">Search for posts</h4>
{% from "components/search.njk" import renderSearch %}
<div class="search-404">
  {{ renderSearch(null, 'Search the site') }}
</div>

<h4 class="section-404">Explore topics</h4>
{% include "components/topic-browser.njk" %}

{% endblock %}