---
pagination:
  data: seriesMetadata
  size: 1
  alias: currentSeries
  addAllPagesToCollections: true
eleventyComputed:
  permalink: /series/{{ currentSeries.slug }}/
  title: "{{ currentSeries.name }} Series"
  description: "{{ currentSeries.description }}"
---
{% extends "layouts/page.njk" %}

{% block pageContent %}
<p class="series-description">{{ currentSeries.description }}</p>

<div class="series-post-info">
  <span class="series-article -count">{{ currentSeries.posts | length }} article{% if currentSeries.posts | length != 1 %}s{% endif %} in this series</span>
  {% if currentSeries.tags %}
  <ul class="post-tags" aria-label="Tags">
    {% for tag in currentSeries.tags %}
    <li><a href="/tags/{{ tag | slugify }}/"><span class="tag-name">{{ tag }}</span></a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% for postUrl in currentSeries.posts %}
  {% linkedPost postUrl %}
{% endfor %}
{% endblock %}
