---
pagination:
  data: seriesMetadata
  size: 1
  alias: currentSeries
  addAllPagesToCollections: true
eleventyComputed:
  permalink: /series/{{ currentSeries.slug }}/
  title: "{{ currentSeries.name }} Series"
  description: "{{ currentSeries.description }}"
---
{% extends "layouts/page.njk" %}

{% block pageContent %}
<p class="series-description">{{ currentSeries.description }}</p>

<p><a href="/series/">← All series</a></p>

<p class="series-post-count">
  {{ currentSeries.posts | length }} article{% if currentSeries.posts | length != 1 %}s{% endif %} in this series
</p>

{% for postUrl in currentSeries.posts %}
  {% linkedPost postUrl %}
{% endfor %}
{% endblock %}
