---
pagination:
  data: seriesMetadata
  size: 1
  alias: currentSeries
  addAllPagesToCollections: true
eleventyComputed:
  permalink: /series/{{ currentSeries.slug }}/
  title: "{{ currentSeries.name }} Series"
  description: "{{ currentSeries.description }}"
---
{% extends "layouts/page.njk" %}

{% block pageContent %}

<div class="page-meta">
  <span class="series-post-count">
    {{ currentSeries.posts | length }} article{% if currentSeries.posts | length != 1 %}s{% endif %}
  </span>

  {% if currentSeries.topics %}
    <ul class="post-topics" aria-label="Topics">
      {% for topic in currentSeries.topics %}
        <li><a href="/topics/{{ topic | slugify }}/"><span class="topic-name">{{ topic }}</span></a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<p class="series-description">{{ currentSeries.description }}</p>

{% for postUrl in currentSeries.posts %}
  {% linkedPost postUrl %}
{% endfor %}
{% endblock %}
