---
title: "Topics"
permalink: /topics/
---
{% extends "layouts/page.njk" %}

{% block pageContent %}

{% set topicsByCount = collections.topicStats | sortByCountThenName %}

<ul class="topic-list">
  {% for topic in topicsByCount %}
    <li>
      <a href="/topics/{{ topic.name | slugify }}/">{{ topic.name }} ({{ topic.count }})</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}