---
title: "Topics"
permalink: /topics/
---
{% extends "layouts/page.njk" %}

{% block pageContent %}

<div class="page-meta">{{ collections.topicStats | length }} topics · {{ collections.posts | length }} articles</div>

{% include "components/topic-browser.njk" %}

{% endblock %}
