<footer class="footer">
  <div class="footer-container">
    <nav class="footer-social">
      <a href="/feed.xml" aria-label="RSS" class="footer-icon">
        {% include "icons/rss.njk" %}
      </a>
      <a href="https://mastodon.social/@vojtechruzicka" rel="me" aria-label="Mastodon" class="footer-icon">
        {% include "icons/mastodon.njk" %}
      </a>
      <a href="https://www.linkedin.com/in/vojtechruzicka" aria-label="LinkedIn" class="footer-icon">
        {% include "icons/linkedin.njk" %}
      </a>
      <a href="https://github.com/vojtechruz" aria-label="GitHub" class="footer-icon">
        {% include "icons/github.njk" %}
      </a>
    </nav>
  </div>
</footer>