{% set current = page.url %}
<header class="main-navigation">
  <nav aria-label="Main navigation">
    <a class="logo" href="/" aria-hidden="true" tabindex="-1" rel="home">
    <!--TODO try eleventy image; keep alt empy to mark it decorative; fixed size to prevent layout shift-->
    </a>

      <div class="navigation">
        <div class="blog-name">
          {{site.title}}
        </div>

        <ul class="menu-items">
          <li>
            <a href="/"
               {% if current == '/' %}
            class="active" aria-current="page"
            {% endif %}>
            Home
            </a>
          </li>
          <li>
            <a href="/archives/"
              {% if current.startsWith('/archives/') %}
                class="active" aria-current="page"
              {% endif %}>
            Topics
            </a>
          </li>
          <li>
            <a href="/about/"
              {% if current == '/about/' %}
                class="active" aria-current="page"
                {% endif %}>
              About <span class="not-small-screen">me</span>
            </a>
          </li>
        </ul>
        <div class="nav-search" role="search">
          <div id="search"></div>
        </div>
      </div>
  </nav>

  <!-- TODO put htis into head -->
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">

  <script src="/pagefind/pagefind-ui.js"></script>
  <script type="module">
    window.addEventListener('DOMContentLoaded', () => {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      showImages: false,
      resetStyles: false,
      translations: {
        placeholder: "Hledat…",
        zero_results: "Nic nenalezeno pro “{query}”.",
        many_results: "{count} výsledků pro “{query}”."
      }
    })});
  </script>
</header>