<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description or site.description }}">

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" type="image/png" href="/favicon.png" sizes="64x64" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="VR Blog" />
  <link rel="manifest" href="/site.webmanifest" />

  <link rel="stylesheet" href="/styles/main.css">

  <title>{{metaTitle}}</title>

  <link rel="alternate" type="application/rss+xml"  title="{{ site.title }}" href="{{ '/feed.xml' | absoluteUrl(site.url) }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/atom.xml' | absoluteUrl(site.url) }}">

  {% block head %}{% endblock %}
</head>
<body class="{{ bodyClass or '' }}">
  {% include "components/header.njk" %}
  <main id="content">{% block content %}{% endblock %}</main>
  {% include "components/footer.njk" %}
</body>
</html>