{% extends "layouts/base.njk" %}

{% block head %}
  {% include "components/social-metatags.njk", { kind: "website" } %}
{% endblock %}


{% block content %}
  <main id="content" class="page content">
    <header>
      <h1>{{ title }}</h1>
    </header>
    {% block pageContent %}
      {{ content | safe }}
    {% endblock %}
  </main>
{% endblock %}