{% extends "layouts/base.njk" %}

{% block content %}
  <div class="page">
    <header>
      <h1>{{ title }}</h1>
    </header>
    {% block pageContent %}
      {{ content | safe }}
    {% endblock %}
  </div>
{% endblock %}