<item>
    <title>Exam Notes – Pivotal Certified Spring Professional</title>
    <link>http://vojtechruzicka.com/exam-notes-pivotal-certified-spring-professional/</link>
    <pubDate>Mon, 24 Oct 2016 11:59:57 +0000</pubDate>
    <dc:creator><![CDATA[vojtechruzicka]]></dc:creator>
    <guid isPermaLink="false">http://vojtechruzicka.com/?p=553</guid>
    <description></description>
    <content:encoded><![CDATA[<img class="wp-image-552 alignleft" src="http://vojtechruzicka.com/wp-content/uploads/2016/09/certified-core-300x253.jpg" alt="spring certified profession exam" width="190" height="160" />

Study materials and an exam review for Pivotal Certified Spring Professional Exam 4.2, with flashcards and study notes.

<!--more-->
<div>
<div>
<h2>Resources</h2>
<h3>Study Guide</h3>
<p style="text-align: justify;">There is an official<a href="https://d1fto35gcfffzn.cloudfront.net/academy/Core-Spring-4.2-4.3-Certification-Study-Guide.pdf"> Core Spring 4.2/4.3 Study Guide</a>, which describes the certification process and some FAQs. What’s more important, there is a list of areas and topics covered in the exam. That is valuable as a checklist whether you are ready for the exam and also a guide to determine what to focus on when studying.</p>

<h3>Notes</h3>
<p style="text-align: justify;"><a href="https://github.com/vojtechruz/spring-core-cert-notes-4.2">Here</a> are available my personal study notes. They cover all the topics required to know for the certification. As they are available on GitHub, feel free to add more info or correct anything and create a pull request. Note that code listings provided are usually more for illustration purposes and do not need to be memorized. During the exam, you are not required to write code snippets or exactly know all the API and details.</p>

<h3>Flashcards</h3>
I have created set of flashcards using <a href="http://ankisrs.net/">Anki software</a>. The contents are basically derived from my study notes. Anki provides desktop client as well as mobile applications to study on the go.

The deck can be downloaded <a href="https://github.com/vojtechruz/spring-core-cert-notes-4.2/raw/master/Spring%20Core%20Certification.apkg">here</a>.

The downloaded deck file can be imported in Anki using File → Import.
<h3>The Book</h3>
<p style="text-align: justify;">There is a book covering the certification - <a href="https://www.amazon.com/Pivotal-Certified-Professional-Spring-Developer/dp/1484208129/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1476539174&amp;sr=1-1">Pivotal Certified Professional Spring Developer Exam: A Study Guide</a>. <del>Unfortunately, it is not published yet (as of  October 2016), it is currently scheduled to be released on Feb 13, 2017.</del></p>

<div>
<div>
<h2>The Exam</h2>
<p style="text-align: justify;"><strong>UPDATE:</strong> Certification can now be purchased separately for $200, <a href="https://spring.io/blog/2017/05/10/pivotal-announces-spring-curriculum-certification-changes">you no longer need</a> to purchase the 4 days training to receive the voucher. However, if you do so, you will still receive the free voucher. The voucher expiration period is no longer specifically stated in the study guide, but you should receive expiration date with your order.</p>

<div style="text-align: justify; text-decoration: line-through;">After finishing the official Spring Web Training, you receive a voucher for the certification exam. This voucher is free and cannot be obtained without the training. If you fail the exam, another voucher can be bought for $ 150 and the exam can be taken after at least six weeks.</div>
</div>
<ul>
 	<li>The exam consists of 50 multiple choice questions (usually single correct answer, rarely multiple), where 38 (76%) must be answered correctly to pass.</li>
 	<li>It is computer based and the interface is easy to understand and navigate.</li>
 	<li>It can be taken in a <a href="http://pearsonvue.com/vtclocator">Pearson Vue certified test center</a>.</li>
 	<li><strong>UPDATE:</strong> The exam can now be taken also remotely using <a href="https://www.examslocal.com/">https://www.examslocal.com</a>, for more info see the <a href="http://it.psionline.com/exam-faqs/pivotal-faq">FAQ</a>.</li>
 	<li>There are 90 minutes to complete the test, which is more than enough – it can safely be completed in half the time even with reviewing the questions again.</li>
 	<li>There are only topics covered by the training.</li>
 	<li>I was required to provide two identity documents (eg. ID card and driving license).</li>
 	<li>There were no personal items whatsoever allowed in the exam room and the room was under video surveillance. You’ll be provided with a marker and an erasable board for your notes.</li>
 	<li>You are not required to write any code.</li>
 	<li>Advanced topics covered after a LAB slide in each block are not part of the exam.</li>
 	<li>(Note that all the info above is public and can be found in the official study guide or other sources and does not violate the exam NDA)</li>
</ul>
</div>
<p style="text-align: justify;">Overall the exam was not too hard and you should be able to complete it if you pay attention during the training, do the lab exercises and study the slides. The good news is it is not about memorizing API, but more about understanding the concepts. In that sense, the questions are very well designed. Much better than the Oracle Java Exams, where it is often very important to study not only the topics, but also the actual question types and watch out for tricky questions. There were no tricky questions in the Spring exam.</p>

<h2>Spring Web Certification</h2>
In addition to this Spring Core certification, I have also prepared materials for the <a href="http://vojtechruzicka.com/pivotal-certified-spring-web-application-developer-notes/">Spring Web Application Developer exam</a>. This exam can be now also taken without the training just for $200.
<h2>Conclusion</h2>
<p style="text-align: justify;">The exam is not too hard and with a proper preparation, you should be able to pass it without problems. I highly recommend doing all the lab exercises. If you have extra time, it is useful to read the certification book, but it is not necessary. After reading the official slides, I recommend to continue with my study notes and flash-cards as they contain the same information, but only in a more condensed form, which is better if you already have a grasp of the basics.</p>

<div>If you have any interesting resources for the exam, please share them in the comments below.</div>
</div>
</div>]]></content:encoded>
    <excerpt:encoded><![CDATA[]]></excerpt:encoded>
    <wp:post_id>553</wp:post_id>
    <wp:post_date><![CDATA[2016-10-24 13:59:57]]></wp:post_date>
    <wp:post_date_gmt><![CDATA[2016-10-24 11:59:57]]></wp:post_date_gmt>
    <wp:comment_status><![CDATA[open]]></wp:comment_status>
    <wp:ping_status><![CDATA[open]]></wp:ping_status>
    <wp:post_name><![CDATA[exam-notes-pivotal-certified-spring-professional]]></wp:post_name>
    <wp:status><![CDATA[publish]]></wp:status>
    <wp:post_parent>0</wp:post_parent>
    <wp:menu_order>0</wp:menu_order>
    <wp:post_type><![CDATA[post]]></wp:post_type>
    <wp:post_password><![CDATA[]]></wp:post_password>
    <wp:is_sticky>0</wp:is_sticky>
    <category domain="post_tag" nicename="certification"><![CDATA[certification]]></category>
    <category domain="category" nicename="spring"><![CDATA[Spring]]></category>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_edit_last]]></wp:meta_key>
        <wp:meta_value><![CDATA[1]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_thumbnail_id]]></wp:meta_key>
        <wp:meta_value><![CDATA[552]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_content_score]]></wp:meta_key>
        <wp:meta_value><![CDATA[60]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_yoast_wpseo_primary_category]]></wp:meta_key>
        <wp:meta_value><![CDATA[6]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_jetpack_related_posts_cache]]></wp:meta_key>
        <wp:meta_value><![CDATA[a:1:{s:32:"8f6677c9d6b0f903e98ad32ec61f8deb";a:2:{s:7:"expires";i:1516588266;s:7:"payload";a:3:{i:0;a:1:{s:2:"id";i:499;}i:1;a:1:{s:2:"id";i:1095;}i:2;a:1:{s:2:"id";i:1161;}}}}]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_wpas_done_all]]></wp:meta_key>
        <wp:meta_value><![CDATA[1]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
        <wp:meta_key><![CDATA[_jetpack_dont_email_post_to_subs]]></wp:meta_key>
        <wp:meta_value><![CDATA[1]]></wp:meta_value>
    </wp:postmeta>
    <wp:comment>
        <wp:comment_id>30</wp:comment_id>
        <wp:comment_author><![CDATA[Asha]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[ashajoice@live.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[103.6.157.172]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2016-11-26 12:44:28]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2016-11-26 11:44:28]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[HI,
Did you get any questions on JMS in spring 4.2 exam? In 4.2 study guide, it is not mentioned seen as a topic. But many who have ot notes to help have mentioned regarding questions on JMS. Any idea?
Thanks]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1480160668.8033599853515625;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1480355185.5473029613494873046875;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>31</wp:comment_id>
        <wp:comment_author><![CDATA[Asha]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[ashajoice@live.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[103.6.157.172]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2016-11-26 12:50:01]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2016-11-26 11:50:01]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Also,questions on xml based configurations were less? Let me know if you remember.Thanks]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1480161001.1055660247802734375;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1480355185.45094394683837890625;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>32</wp:comment_id>
        <wp:comment_author><![CDATA[Vojtech Ruzicka]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[vojtech.ruz@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://vojtechruzicka.com</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[155.91.28.231]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2016-11-28 19:46:00]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2016-11-28 18:46:00]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Hi, Sorry, I am afraid I don't remember specific questions. But majority of questions was from the chapters about general concepts such as Spring Container, DI, AOP, Configuration etc.]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>31</wp:comment_parent>
        <wp:comment_user_id>1</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1480358760.7324640750885009765625;s:5:"event";s:9:"check-ham";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[jetpack]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[https://s2.wp.com/wp-content/mu-plugins/highlander-comments/images/wplogo.png]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[1]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>152</wp:comment_id>
        <wp:comment_author><![CDATA[Tharaka Wijesooriya]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[tharakad1990@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[203.127.89.206]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-07-18 08:20:22]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-07-18 06:20:22]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[I tried to use this simulator, this is not working anymore]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>84</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1500358822.5340518951416015625;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1500375318.68505191802978515625;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>153</wp:comment_id>
        <wp:comment_author><![CDATA[Tharaka Wijesooriya]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[tharakad1990@gmail.com]]></wp:comment_author_email>
        <wp:comment_author_url></wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[203.127.89.206]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-07-18 08:20:59]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-07-18 06:20:59]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[anyone has new exam dumps ?]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1500358859.1949059963226318359375;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1500375307.127356052398681640625;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
    <wp:comment>
        <wp:comment_id>84</wp:comment_id>
        <wp:comment_author><![CDATA[Drin (@aldreyn)]]></wp:comment_author>
        <wp:comment_author_email><![CDATA[aldreyn@twitter.example.com]]></wp:comment_author_email>
        <wp:comment_author_url>http://twitter.com/aldreyn</wp:comment_author_url>
        <wp:comment_author_IP><![CDATA[93.45.71.25]]></wp:comment_author_IP>
        <wp:comment_date><![CDATA[2017-04-29 17:19:05]]></wp:comment_date>
        <wp:comment_date_gmt><![CDATA[2017-04-29 15:19:05]]></wp:comment_date_gmt>
        <wp:comment_content><![CDATA[Thanks Vojtech Ruzicka for this wonderful article. I will now have an idea of what the actual exam looks like and it will help me a lot to pass the certification. Your resources are very useful and I find it very nice to study.
I just want also to share these Web simulator that I’m also using right now in my study in preparing for the certification. It is a free and easy to use and provide clear explanation of the answer which will probably appears in the actual exam. I hope it will also help my fellow readers who is preparing for there certification examination.
You can find the free web simulator in this link –>https://www.certification-questions.com/spring-certification-questions.html
]]></wp:comment_content>
        <wp:comment_approved><![CDATA[1]]></wp:comment_approved>
        <wp:comment_type><![CDATA[]]></wp:comment_type>
        <wp:comment_parent>0</wp:comment_parent>
        <wp:comment_user_id>0</wp:comment_user_id>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_result]]></wp:meta_key>
            <wp:meta_value><![CDATA[false]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:2:{s:4:"time";d:1493479145.4586040973663330078125;s:5:"event";s:9:"check-ham";}]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_post_as]]></wp:meta_key>
            <wp:meta_value><![CDATA[twitter]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_avatar]]></wp:meta_key>
            <wp:meta_value><![CDATA[http://pbs.twimg.com/profile_images/378800000249070294/3d544958cb5dfdf42d5461f778000fef_normal.jpeg]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[hc_foreign_user_id]]></wp:meta_key>
            <wp:meta_value><![CDATA[96951065]]></wp:meta_value>
        </wp:commentmeta>
        <wp:commentmeta>
            <wp:meta_key><![CDATA[akismet_history]]></wp:meta_key>
            <wp:meta_value><![CDATA[a:3:{s:4:"time";d:1493479494.7022979259490966796875;s:5:"event";s:15:"status-approved";s:4:"user";s:14:"vojtechruzicka";}]]></wp:meta_value>
        </wp:commentmeta>
    </wp:comment>
</item>