@import "syntax-highlighting";

a {
  color: #007acc;
}

a:hover {
  color: lighten(#007acc,5%);
}

.post-tags {
  list-style: none;

  ul {
    display: inline;

    li {
      display: inline;
      margin-left: 0.5rem;
    }
  }

  margin-bottom: 1rem;
}

.about-page {
  ul {
    list-style: none;
  }
}