---
title: "Page Not Found"
permalink: /404.html
---
{% extends "layouts/page.njk" %}

{% block pageContent %}


{% set tagsByCount = collections.tagStats | sortByCountThenName %}

// TODO 404 should be not in sitemap and should have noindex

{% warning %}
  The page you are looking for does not exist.
  You can either try using search or browse all posts by category below.
{% endwarning %}

<h4>Search for posts</h4>
TODO SEARCH

<h4>All available posts by category</h4>
<ul class="tag-list">
  {% for tag in tagsByCount %}
  <li>
    <a href="/tags/{{ tag.name | slugify }}/">{{ tag.name }} ({{ tag.count }})</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}