---
pagination:
  data: collections.posts
  size: 1            # items per page
  alias: posts        # variable name in template
  reverse: false
eleventyComputed:
  # "/" for page 1, "/pages/2/" for page 2, etc.
  permalink: "{% if pagination.pageNumber == 0 %}/{% else %}/pages/{{ pagination.pageNumber + 1 }}/{% endif %}"
  title: "{% if pagination.pageNumber == 0 %}Latest posts{% else %}Page {{ pagination.pageNumber + 1 }} – Latest posts{% endif %}"
---
{% extends "layouts/post-list.njk" %}

{% block postList %}

<h1 class="visually-hidden">{{ title }}</h1>

<ul class="post-list">
  {% for post in pagination.items %}
    <li>
      <div class="linked-article">
        <h4 class="front-post-title">
          <a href="{{post.url}}">{{ post.data.title }}</a>
        </h4>
        <div class="front-post-info">
          <span class="front-post-info-date">{{ post.date | readableDate }}</span>
          <div class="post-tags">
            <ul>
              {% for tag in collections.tagList %}
              <li><a href="/tags/{{tag | slugify}}/">#{{tag}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div>
          <a class="front-post-image" href="{{ post.url }}">

          </a>
          <span class="front-post-excerpt">
            {{post.data.excerpt}}
          </span>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

<nav class="pagination" aria-label="Pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" rel="prev">« Previous</a>
  {% endif %}

  {% for pageHref in pagination.hrefs %}
  {% set pageNumber = loop.index %}
  {% if loop.index0 == pagination.pageNumber %}
  <span class="current" aria-current="page">{{ pageNumber }}</span>
  {% else %}
  <a href="{{ pageHref }}">{{ pageNumber }}</a>
  {% endif %}
  {% endfor %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" rel="next">Next »</a>
  {% endif %}
</nav>

{% endblock %}